/* 导航条高度 */
$global-header-height: 100px;

/* 颜色 */
$globalColor-bgStyle: #ffffff;
$globalColor-style: #20a322;
$globalColor-subStyle: #ffffff;
$globalColor-themeStyle: #20a322;
$globalColor-themeSubStyle: #ffffff;
$globalColor-fontStyle: #162b26;
$globalColor-fontSubStyle: #999999;
$globalColor-borderStyle: #e1e1e1;
$globalColor-inputBorderStyle: #cccccc;
$globalColor-inputBgStyle: #f0f0f0;
$globalColor-placeholderStyle: #cccccc;
$globalColor-holderStyle: #f5f5f5;

$globalColor-green: #25a57c;
$globalColor-greenLight: #edf8f5;
$globalColor-red: #d54141;
$globalColor-redLight: #ffeded;

$globalColor-black: #141918;
$globalColor-blur: rgba(255, 255, 255, 0.5);

$globalColor-kline-green: #15e68e;
$globalColor-kline-red: #ff2c4f;

$globalColor-border-light-grey: #f9f9f9;
$globalColor-border-light: #fbfefd;

$ImgPath: "@/assets/images/";
